<section>
  <div class="kg-card kg-toggle-card" data-kg-toggle-state="close">
    <div class="kg-toggle-heading">
      <h4 class="kg-toggle-heading-text">Category</h4>
      <button class="kg-toggle-card-icon">
        <svg
          id="Regular"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        ><path
            class="cls-1"
            d="M23.25,7.311,12.53,18.03a.749.749,0,0,1-1.06,0L.75,7.311"
          ></path></svg>
      </button>
    </div>
    <div class="kg-toggle-content">
      <div>
        {{#get "tags" limit="5"}}
          <p class="sidebar-item">
            {{tags separator=" "}}
          </p>
        {{/get}}
      </div></div>
  </div>
  <hr />
  <div class="content-sidebar">

    <div class="widget sidebar-featured projects">

      <div class="widget sidebar-featured">
        <div class="gh-article-meta-wrapper">
          <h4 class="sidebar-featured-header">Most Recent from
            <a href="{{url}}">{{name}}</a>
          </h4>
        </div>
        <hr />
        {{#get "posts" limit="5"}}
          <ul>
            {{#foreach posts}}
              <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
          </ul>
        {{else}} {{#if @error}}{{@error}}{{/if}} {{/get}}
        <hr />

      </div>

    </div>
  </div>
</section>